@import "@storinka/dropdown/dist/styles/tooltip-light-theme.css";
@import "vue-json-pretty/lib/styles.css";

$button: #eee;

:root {
  --bgColor: white;
  --borderColor: #ddd;
  --mutedColor: #666;
  --textColor: #111;
  --hoverColor: #efefef;
  --activeColor: #e5e5e5;
  --typeColor: darkslategray;
  --darkButtonColor: #111;
  --tagColor: royalblue;
  --accentColor: #0d6efd;
  --accentColorHover: #277bf8;
  --accentColorActive: #0264f4;
}

// dark
//:root {
//  --bgColor: #111;
//  --borderColor: #333;
//  --mutedColor: #666;
//  --textColor: #999;
//  --hoverColor: #333;
//  --activeColor: #222;
//  --typeColor: lightslategray;
//  --tagColor: darkslateblue;
//  --darkButtonColor: var(--borderColor);
//  --accentColor: #05419b;
//  --accentColorHover: #124da5;
//  --accentColorActive: #053884;
//}

a {
  color: var(--accentColor);

  &:hover {
    color: var(--accentColorActive);
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;

  color: var(--textColor);
  background-color: var(--bgColor);

  font-family: Inter, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: var(--textColor);
}

input::placeholder {
  font-family: Inter, sans-serif;
}

body {
  height: 100%;

  padding: 0;
  margin: 0;

  //font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#app {
  height: 100%;
}

.s-dropdown.s-dropdown-tooltip-light-theme {
  background-color: white;

  padding: 0;
  border-radius: 0;

  box-shadow: 2px 2px 10px 0 #eee;
}

.result-block {
  overflow: auto;

  &.not-result {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.enter-url {
  width: 100%;
  height: 100%;

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .input-container {
    max-width: 500px;
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;

    input {
      max-width: 500px;
      width: 100%;

      height: 40px;

      font-size: 1.1rem;

      border: none;
      outline: none;

      border-bottom: 1px solid var(--borderColor);

      &:focus {
        border-bottom-color: var(--accentColor);
      }
    }

    button {
      position: absolute;

      top: calc(100% + 10px);

      align-self: flex-start;

      padding: 12px 24px;

      font-size: 1.1rem;

      border: none;
      border-radius: 10px;

      background-color: var(--accentColor);
      color: var(--bgColor);

      cursor: pointer;

      transition: all 125ms ease;

      &:hover {
        background-color: var(--accentColorHover);
      }

      &:active {
        background-color: var(--accentColorActive);
      }
    }
  }
}

.arrow {
  margin-left: auto;

  line-height: 1;

  transform: rotate(90deg);

  transition: transform 250ms ease-in-out;
}

.arrow--open {
  transform: rotate(-90deg);
}

.header {
  position: sticky;
  z-index: 2;

  top: 0;

  height: 60px;
  width: 100%;

  padding: 0 1rem;

  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 1.2rem;

  background-color: var(--bgColor);

  border-bottom: 1px solid var(--borderColor);
}

.header__icon {
  height: 1.4em;

  img {
    padding-right: .5ch;

    width: 100%;
    height: 100%;
  }
}

.header--with-button {
  padding-right: 0;
}
